overviewPaper.aux
overviewPaper.fdb_latexmk
overviewPaper.fls
overviewPaper.log
overviewPaper.out
overviewPaper.pdf
overviewPaper.synctex.gz
overviewPaper.tdo
overviewPaper.bbl
overviewPaper.blg
data/*.he5
data/*.ph
.DS_Store
src/percusion.egg-info
src/percusion/__pycache__
*.nc
